<?php
/**
 * 车次信息
 */
    return array(
        'fromStation' => 'XX', // 起始站
        'toStation' => 'XX', // 终点站
        'train_date' => 'xxxx-xx-xx', // 出发时间
        'train_num' => 'XXXXX', //车次，注意是大写
        'train_type' => x, // 车票类型  all 任意车次任意座位 23软卧一等 动卧 28硬卧二等 软座 29硬座 26无座 32商务特等座 30二等座 31一等座 33高级商务
        'train_seat' => 'x' // 商务座(9),特等座(P),一等座(M),二等座(O),高级软卧(6),软卧(4),硬卧(3),软座(2),硬座(1),无座(1)  // 注意大小写
    );